# Copyright 2024 Morse Micro
# SPDX-License-Identifier: Apache-2.0

menuconfig WIFI_MORSE
	bool "MorseMicro HaLow WiFi support"
	default n
	select DYNAMIC_THREAD
	select REBOOT
	select THREAD_CUSTOM_DATA
	select WIFI_USE_NATIVE_NETWORKING
	select NET_L2_WIFI_MGMT
	select NET_L2_ETHERNET
	select DYNAMIC_THREAD_ALLOC
	select GPIO_GET_CONFIG
	select HWINFO
	select CRC
	select FPU if CPU_CORTEX_M33 || CPU_CORTEX_M7
	select THREAD_ABORT_HOOK

if WIFI_MORSE

choice WIFI_MORSE_BUS
	bool "Select BUS interface"
	default WIFI_MORSE_BUS_SPI

config WIFI_MORSE_BUS_SPI
	bool "SPI Bus interface"
	select SPI

endchoice

config WIFI_MORSE_REGION
	string "Device regulatory domain"
	default "AU"
	help
	  Specifies the regulatory domain for which to operate the device.
	  Must be one of AU, EU, IN, JP, KR, NZ, SG, US.

config WIFI_MORSE_BCF
	string "Board Calibration File"
	default "bcf_mf08651_us.mbin"
	help
	  Specifies the filename for the bcf. This file must be present
	  in the Morse Micro firmware blobs directory: zephyr/blobs/firmware/

menu "Morse Micro Packet Memory Configuration"
	config MMPKTMEM_TX_POOL_N_BLOCKS
		int "TX queue blocks"
		default 20
		help
			Number of blocks allocated for the transmit queue

	config MMPKTMEM_RX_POOL_N_BLOCKS
		int "RX queue blocks"
		default 23
		help
			Number of blocks allocated for the receive queue
endmenu

config WIFI_MORSE_TEST
	bool "Morse Micro device test driver"
	help
	  Disable registration of network interface to allow testing.
	  To allow testing of the Morse Micro driver HAL layears, and verifying
	  the hardware configuration, this configuration will disable the
	  registration of the Morse Micro device as a Zephyr network interface.

config HEAP_MEM_POOL_ADD_SIZE_MORSE
	int
	default 65536

config WIFI_MORSE_EXT_XTAL_INIT
	bool "Enable external crystal initialisation"
	default n
	help
	 For modules which drive the MM6108 with an external crystal, extra
	 initialisation is required. This configuration implements the necessary
	 hook to support this initialisation.

config WIFI_MORSE_BUSY_DISABLED
	bool "BUSY pin not connected"
	default n
	help
	 Enable this option if the BUSY signal from the MM chip is not wired
	 to the host. The driver will always report "not busy" and rely on
	 SPI-level flow control. Note: the Porting Assistant BUSY test will
	 still fail, but normal WiFi operation may work.

endif